    body{
    /* background: #f2f3f4;*/
    width: 100%;
      -webkit-overflow-scrolling: touch;/* 当手指从触摸屏上移开，会保持一段时间的滚动 */
    }

    body::-webkit-scrollbar,::-webkit-scrollbar-thumb {
       display: none;
    } 
    /* 根据屏幕设置像素大小 */
    @media screen and (max-width:321px) {
      #app {
        font-size: 15px
      }
    }
    @media screen and (min-width:321px) and (max-width:400px) {
      #app {
        font-size: 16px
      }
    }
    @media screen and (min-width:400px) {
      #app {
        font-size: 18px
      }
    }